{
   "description": "Floating-point: NaN with non-zero payload",
   "edn-representations" : ["float'7fff'",
                            "float'7fffe000'",
			    "float'7ffffc0000000000'"] ,
   "general-serializations": [h'f97fff',
                              h'fa7fffe000',
			      h'fb7ffffc0000000000' ],
   "preferred-plus-serializations": [h'f97fff'],
   "deterministic-serialization": [h'f97fff']
}
