{
   "description": " Floating-point NaN with payload 0x1ff",
   "edn-representations" : [] ,
   "general-serializations": [h'F97FFF',
                              h'FA7FFF8000',
			      h'FB7FFFFC0000000000'
			      ],
   "preferred-plus-serializations": [h'F97FFF'],
   "deterministic-serialization": [h'F97FFF']
}